percent encoding fools parser

1) invalid URI: <http://-error-.invalid/>
2) perfectly valid URI: <http://%2Derror-.invalid/>
3) also perfectly valid URI: <http://xx%2E%2Eyy.invalid>

Strictly speaking, all of the above are valid according to the syntax
of RFC 3986.

It's reasonable to tighten the syntax of reg-name from:

 reg-name = *( unreserved / pct-encoded / sub-delims )

To something more like the host name requirements of RFC 1123.

But I would think that percent-encoded unreserved octets should be
considered the same as if they appeared un-encoded.

All RFC 3986 section 2.3 says is:

“For consistency, percent-encoded octets in the ranges of
 […unreserved…] should not be created by URI producers and, when found
 in a URI, should be decoded to their corresponding unreserved
 characters by URI normalizers.”

If you reject case 1) above, I would think you should reject all
three.


Thanks for the report. I will take a look at this over the weekend.

In the current implementation, host encoding is only minimal and that's why the second 2 examples fail. I agree with you, the three cases you give should be handled consistently.

I don't know how to handle this yet. What is the urgency of having this issue addressed?


No urgency.

For a number of reasons I decided to implement my own URI code.  It's
a work in progress, I've only been poking around with it part time for
a few weeks.  It's about half baked at this point.

I guess the reasons I decided to roll my own include:

1) I can't tell what grammar your parser actually accepts.  Especially
   with regard to the host portion.  It's clearly much more strict
   than RFC-3986, but what it is isn't immediately obvious to me.

2) I can't tell, for example, if
   network::detail::normalize_path_segments() is an implementation of
   RFC-3986's Remove Dot Segments (section 5.2.4.) algorithm.  Or if
   it's even supposed to be.  For my library I just copied the
   algorithm from the RFC as closely as possible.

3) I thought I could lighten up the API by returning std::string_views
   into a single std::string owned by the uri object.  This might be
   more fragile and prone to dangling, but for me I think it works.

4) Unicode.  Esp host normalization.

I sure did want to just install a urilib-devel package and use it; or
2nd best find something I could use via a git sub-module.

Doing my own version of this has been a distraction for me.